<h4>Register page</h4>

{{#if errors}}
    <div class="errors">
    {{#each errors}}
        {{this.msg}}<br/>
    {{/each}}
    <br/>
    </div>
{{/if}}

<form action="/user/register/" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" id="username" type="text" />
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" id="password" type="password" />
    </div>
     <div class="form-group">
        <label for="re_password">Password again</label>
        <input name="re_password" id="re_password" type="password" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
    <div>
        <a href="/user/login/">Login</a>
    </div>
</form>